.modal__content.modal__content_type_image {
  padding: 0;
  max-width: 752px;
  overflow: hidden;
}

.modal__image {
  width: 100%;
  max-height: 560px;
  object-fit: cover;
}

.modal__caption {
  padding: 20px 32px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.modal__caption-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 12px;
}

.modal__weather {
  font-style: Bold;
  font-size: 20px;
  line-height: 0;
  padding: 0;
  margin: 20px 0 10px;
}

.modal__delete-btn {
  background-color: transparent;
  border: none;
  color: #ff4a3a;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
}

.modal__delete-btn:hover {
  opacity: 0.7;
}
