@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

body {
  font-family:
    "Cabinet-Grotesk", "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0 auto;
}
